In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
spark

In [4]:
data_path = "/content/Data/location_temp.csv"

In [5]:
df = spark.read.format("csv").option("header","true").load(data_path)

In [8]:
df.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [9]:
df.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [11]:
df.count()

500000

In [14]:
data_path_util = "/content/Data/utilization.csv"
df_no_header = spark.read.format("csv").option("header","false").option("inferSchema","true").load(data_path_util)

In [18]:
df.columns

['event_date', 'location_id', 'temp_celcius']

In [19]:
# sampling data
df_sample = df.sample(False, fraction = 0.1)
df_sample.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 23:08:06|       loc0|          27|
|03/04/2019 23:28:06|       loc0|          34|
|03/05/2019 01:03:06|       loc0|          28|
|03/05/2019 01:18:06|       loc0|          28|
|03/05/2019 01:48:06|       loc0|          29|
|03/05/2019 06:13:06|       loc0|          30|
|03/05/2019 06:18:06|       loc0|          27|
|03/05/2019 06:58:06|       loc0|          29|
|03/05/2019 07:43:06|       loc0|          30|
|03/05/2019 08:28:06|       loc0|          29|
|03/05/2019 08:33:06|       loc0|          27|
|03/05/2019 09:13:06|       loc0|          28|
|03/05/2019 09:23:06|       loc0|          28|
|03/05/2019 09:58:06|       loc0|          28|
|03/05/2019 11:18:06|       loc0|          29|
|03/05/2019 12:48:06|       loc0|          28|
|03/05/2019 14:08:06|       loc0|          27|
|03/05/2019 14:58:06|       loc0|          34|
+-------------------+-----------+------------+
only showing top 20 rows

In [20]:
#Sort
df_sorted =df.sort("temp_celcius")
df_sorted.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:49:20|     loc328|          21|
|03/04/2019 20:18:07|       loc7|          21|
|03/05/2019 02:14:20|     loc328|          21|
|03/05/2019 00:43:07|       loc7|          21|
|03/04/2019 20:04:20|     loc328|          21|
|03/04/2019 20:23:07|       loc7|          21|
|03/04/2019 20:19:20|     loc328|          21|
|03/04/2019 21:03:07|       loc7|          21|
|03/04/2019 20:49:20|     loc328|          21|
|03/04/2019 21:23:07|       loc7|          21|
|03/04/2019 21:09:20|     loc328|          21|
|03/04/2019 21:28:07|       loc7|          21|
|03/04/2019 21:24:20|     loc328|          21|
|03/04/2019 21:33:07|       loc7|          21|
|03/04/2019 21:34:20|     loc328|          21|
|03/04/2019 21:38:07|       loc7|          21|
|03/04/2019 21:39:20|     loc328|          21|
|03/04/2019 21:48:07|       loc7|          21|
|03/04/2019 21:44:20|     loc328|          21|
|03/04/2019 21:53:07|       loc7|          21|
+-------------------+-----------+------------+
only showing top 20 rows

In [25]:
#filter
df.filter(df["location_id"] == "loc7").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:07|       loc7|          24|
|03/04/2019 19:53:07|       loc7|          23|
|03/04/2019 19:58:07|       loc7|          22|
|03/04/2019 20:03:07|       loc7|          25|
|03/04/2019 20:08:07|       loc7|          22|
|03/04/2019 20:13:07|       loc7|          28|
|03/04/2019 20:18:07|       loc7|          21|
|03/04/2019 20:23:07|       loc7|          21|
|03/04/2019 20:28:07|       loc7|          24|
|03/04/2019 20:33:07|       loc7|          22|
|03/04/2019 20:38:07|       loc7|          26|
|03/04/2019 20:43:07|       loc7|          27|
|03/04/2019 20:48:07|       loc7|          24|
|03/04/2019 20:53:07|       loc7|          23|
|03/04/2019 20:58:07|       loc7|          23|
|03/04/2019 21:03:07|       loc7|          21|
|03/04/2019 21:08:07|       loc7|          25|
|03/04/2019 21:13:07|       loc7|          25|
|03/04/2019 21:18:07|       loc7|          25|
|03/04/2019 21:23:07|       loc7|          21|
+-------------------+-----------+------------+
only showing top 20 rows

In [27]:
#aggregate

#aggregatre and count how much per locaiton
df.groupby("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
|     loc203| 1000|
|     loc193| 1000|
|     loc122| 1000|
|     loc145| 1000|
+-----------+-----+
only showing top 20 rows